<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link th:href="@{/styles/css/bootstrap.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/styles/css/clinica.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/img/health.ico}" rel="icon" />
    <!--
    <link href="../static/styles/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../static/styles/css/clinica.css" rel="stylesheet" type="text/css" />
    -->
    <title>Erro</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div class="container clinica-margin">
        <div class="alert alert-danger" role="alert">
            <h2>Erro</h2>
            <h5>Você está tentando acessar uma página inexistente ou o servidor encontrou um erro inesperado.</h5>
        </div>
        <div class="form-group col-md-8">
			<a th:href="@{/clinicas}" class="btn btn-outline-primary link">Retornar à página principal</a>    
		</div>
    	<div class="text-center">
        	<img th:src="@{/img/ghost.gif}" class="img-fluid" />
    	</div>
    </div>
</body>
</html>
