<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link th:href="@{/styles/css/bootstrap.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/styles/css/clinica.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/img/health.ico}" rel="icon" />
    <!--
    <link href="../static/styles/css/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="../static/styles/css/clinica.css" rel="stylesheet" type="text/css" />
    -->
    <title>Excluído com sucesso!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div class="container clinica-margin">
        <div class="alert alert-success" role="alert">
            <h2>Clínica excluída com sucesso!</h2>
        </div>
        <a href="/clinica/clinicas" class="btn btn-outline-primary link">Consultar as clínicas cadastradas</a>
    </div>
</body>
</html>
