<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head> 
    <link th:href="@{/styles/css/bootstrap.css}" rel="stylesheet" type="text/css" />
   	<link th:href="@{/styles/css/clinica.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/styles/css/font-awesome.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/img/health.ico}" rel="icon" />

    <title>Pesquisa de clínicas</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div class="container clinica-margin">
        <h2>Pesquisa de clínicas</h2>
        <form action="#" th:action="@{/clinicas/filtro}" th:object="${filtro}" method="get">
            <div class="wrap">
                <div class="row clinica-margin">
                    <div class="col-md-3">
                        <input class="form-control" type="text" placeholder="Nome da clínica" th:field="*{nome}">
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="text" placeholder="Nome do convênio" th:field="*{nomeConvenio}">
                    </div>
                    <div class="col-md-3">
                        <input class="form-control" type="text" placeholder="Nome do médico" th:field="*{nomeMedico}">
                    </div>
                    <div class="col-md-3">
                        <button type="submit" class="btn btn-secondary">Pesquisar</button>
                    </div>
                </div>
             </div>
        </form>
        <div class="row clinica-margin">
            <div class="col-md-2">
                <a th:href="@{/new}" class="btn btn-outline-success link" style="width: 180px;"><i class="fa fa-plus" ></i>
                    Inserir nova clínica</a>    
            </div>
        </div>
        <div class="tabela-resultados">
            <h2>Resultado:</h2>
        </div>
        <div class="table-responsive">
			<table th:if="${clinicas.size() > 0}" class="table table-bordered table-striped col-md-12">
            <tr class="table-clinica">
                <th scope="col">Nome</th>
                <th scope="col">Convênio</th>
                <th scope="col">Descrição</th>
                <th scope="col">Médico</th>
                <th style="text-align: center;" colspan="2" scope="col">Opções</th>
            </tr>
            <th:block th:each="clinica : ${clinicas}">
	            <tr>
	                <td th:text="${clinica.nome}"></td>
	                <td th:text="${clinica.nomeConvenio}"></td>
	                <td th:text="${clinica.descricao}"></td>
	                <td th:text="${clinica.nomeMedico}"></td>
	                <td><a th:href="@{'/clinicas/' + ${clinica.id}}" title="Editar" class="btn btn-info link"><i class="fa fa-pencil-square-o"></i></a></td>
	                <td><a th:href="@{'/clinicas/delete/' + ${clinica.id}}" title="Excluir" class="btn btn-danger link"><i class="fa fa-trash"></i></a></td>
	            </tr>
	        </th:block>
        </table>        
        </div>
        <div th:unless="${clinicas.size() > 0}" class="alert alert-primary" role="alert">
            <h2>Nada foi encontrado.<br></h2>
            <h5>Sua busca não encontrou resultados ou não há clínicas cadastradas.</h5>
        </div>
    </div>
</body>
</html>
