<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <link th:href="@{/styles/css/bootstrap.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/styles/css/clinica.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/img/health.ico}" rel="icon" />
    <title>Salvo com sucesso!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div class="container clinica-margin">
        <div class="alert alert-success" role="alert">
            <h2>Clínica salva com sucesso!</h2>
        </div>
        <strong>Nome: </strong><p th:text="${clinica.nome}"></p>
        <strong>Nome do convênio: </strong><p th:text="${clinica.nomeConvenio}"></p>
        <strong>Descrição: </strong><p th:text="${clinica.descricao}"></p>
        <strong>Nome do médico:</strong><p th:text="${clinica.nomeMedico}"></p>
        <a th:href="@{/clinicas}" class="btn btn-outline-primary link">Consultar as clínicas cadastradas</a>
    </div>
</body>
</html>
